.start__view
  .start__message
    さぁ！リフレッシュをしましょう♪
    %br/
    まずはリフレッシュする時間を入力してください

  .timer__input
    %form{name: "timer"}
      %input{type: "text", value: ""}>/
      分
      %input{type: "text", value: ""}>/
      秒
      %br/
      %input{onclick: "cntStart()", type: "button", value: "スタート"}/



  = link_to "Start", '/posts/new', class: "start__btn"
